@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.corpo{
    height: 100vh;
    background: black url('/imagens/fundo-madeira.jpg') no-repeat top center/cover fixed;
}

.nav_btn{
    margin: 25px;
    float: right;
}.btn{
    width: 100px;
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
}.btn_img{
    width: 100%;
    border: 2px solid white;
    border-radius: inherit;
}

.tela-celular{
    max-width: 372px;
    height: 720px;
    margin: auto;
}.tela-celular_img{
    width: 100%;
}
